<div class="container">
<h1>Stupid Coaching</h1>

<div class="answer" >
<%= @ask %>
<h3>-You</h3>
</div>

<div class="answer" id="answer_coach">
<%= @answer %>
<h3>-Your coach</h3>
</div>

<%= link_to "ask a new question", ask_path %>
</div>
